@{
    ViewData["Title"] = "Catálogo de Produtos";
}
<h2>@ViewData["Title"]</h2>

@model List<Produto>


<div id="my-carousel" class="carousel slide" data-ride="carousel">




    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        @{
        const int TAMANHO_PAGINA = 4;
        int NUMERO_PAGINAS = (int)Math.Ceiling((double)Model.Count() / TAMANHO_PAGINA);

        }



        @for (int pagina = 0; pagina < NUMERO_PAGINAS; pagina++)
        {
            var produtosPagina = this.Model.Skip(TAMANHO_PAGINA * pagina).Take(TAMANHO_PAGINA);

        

        <div class="item @(pagina==0 ? "active" : "")">

            <div class="row">
                @foreach ( Produto p in produtosPagina)
            {

                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="~/images/produtos/large_@(p.Id).jpg" class="img-responsive" />
                        </div>
                        <div class="panel-footer">
                            <div>@(p.Nome) </div>
                            <div>R$ @(p.Preco) </div>
                            <a asp-action="carrinho" class="btn btn-info center-block ">Adicionar</a>
                        </div>
                    </div>
                </div>
        }





            </div>


        </div>
}


    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Proxima</span>
    </a>


</div>


<p>Use this area to provide additional information.</p>