
@{
    ViewData["Title"] = "Resumo do Pedido";
}

@model CarrinhoViewModel

<h3>Resumo do Pedido</h3>

<div class="panel panel-default">

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2>Nº do pedido:@(new Random().Next())</h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <h3>Seus dados</h3>
                <div>Wesley Trindade dos Santos</div>
                <div>(13) 98116-2696</div>
            </div>
            <div class="col-md-3">wesley.trindade.santos@gmail.com</div>
            <div class="col-md-6">
                <h3>Endereço de entrega</h3>
                <div>Rua Frei Francisco Sampaio, nº 246 apto 23</div>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-10">
                <h3>Item</h3>
            </div>
            <div class="col-md-2">
                <h3>Quantidade</h3>
            </div>
        </div>
        @foreach (var item in Model.Itens)
    {


        <div class="row">
            <div class="col-md-10">
                <div>@item.Produto.Nome</div>
            </div>
            <div class="col-md-2">
                <div class="pull-right">@item.Quantidade</div>
            </div>
        </div>
}
    </div>
</div>






